.section {
  /* width: 100%; */
  padding: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.button {
  color: #34c94b;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}