.carouselWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.customNav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #34c94b;
  color: white;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}
.swiper-button-next,
.swiper-button-prev {
  color: #34c94b !important;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
}